body {
    background-image: url("image/box.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
body,html{
    height: 100%;
}

ul{
    font-weight: bolder; font-family: sans-serif;
}
#img1{
    height: 50; width: 60px;
}

body,html{
    height: 100%;
}

.container{
    color: white;
}
@media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
  #mainNav{
    font-weight: 700;
  }
