body {
    background-image: url("image/box.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body,html{
  height: 100%;
}

ul{
    font-weight: bolder; font-family: sans-serif;
}
#img{
    height: 50%; width: 50%; float: right;
}
#img1{
    height: 50; width: 60px;
} 
#homephoto{
  width: 50%; padding: 10px; border-radius: 50%;display: block;margin-right: auto;margin-left: auto;
}

.welcome{
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  color: white; text-align: center;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bring{
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 50px;
  color:yellow;text-align: center;
  font-style: italic;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

#mainNav{
  font-weight: 700;
}


