body {
    background-image: url("image/box.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
body,html{
  height: 100%; width: 100%;
}
ul{
    font-weight: bolder; font-family: sans-serif;
}
#img1{
    height: 50; width: 60px;
}
#p1{
  font-weight: 700;
  color: white;
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
  }
  
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

#mainNav{
  font-weight: 700;
}


.name{
  color: yellow;
  font-weight: bold;
}

.profile{
  height: auto; width: auto;
}
.desc h3{
  color: white;
}

.parag{
  color: white;
}